*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1{
	font-size: 70px;
	color: red;
	border: 3px double red;
	border-radius: 10px;
	

}
.bangladeshp{
	width: 400px;
	height: 240px;
	position: relative;
	background: fixed;
	left: 30px;
}
.bangladesh{
	width: 100%;
	height:210px ;
	position: absolute;
	background: fixed;
	top: 0px;
}
.green{
	width: 100%;
	height: 210px;
	background: green;
	display: flex;
}
.red{
	width: 120px;
	height: 120px;
	background: red;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.contentb{
	width: 100%;
	height: 30px;
	background: fixed;
	position: absolute;
	bottom: 0px;
}
.contentb p{
	font-size: 25px;
	color: red;
	font-weight: bold;
	font-family: segoe script;

}
.arobp{
	width: 400px;
	height: 240px;
	background: fixed;
	margin: auto;
	margin-top: -240px;
	position: relative;
}
.arob{
	width: 100%;
	height: 210px;
	background: yellowgreen;
	position: absolute;
	border: 1px solid gray;

}
.redarob{
	width: 90px;
	height: 209px;
	background: red;
	position: absolute;
	left: 0px;
}
.greenarob{
	width: 310px;
	height: 70px;
	background: green;
	position: absolute;
	right: 0px;
	top: 0px;
}
.whitearob{
	width: 310px;
	height: 70px;
	background: white;
	position: absolute;
	right: 0px;
	top: 70px;
}

.blackarob{
	width: 310px;
	height: 70px;
	background: black;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.fresh{
	width: 100%;
	height: 30px;
	background: fixed;
	position: absolute;
	bottom: 0px;
}
.fresh p{
	font-size: 25px;
	color: red;
	font-weight: bold;
	font-family: segoe script;
}

.argentinap{
	width: 400px;
	height: 240px;
	background: fixed;
	margin: auto;
	float: right;
	margin-top: -240px;
	margin-right: 30px;
}
.argentina{
	width: 400px;
	height: 210px;
	background: mediumvioletred;
	position: absolute;
	border: 1px solid gray;
}
.skyar{
	width: 398px;
	height: 70px;
	position: absolute;
	background: skyblue;

}
.whitear{
	width: 398px;
	height: 70px;
	position: absolute;
	background: white;
	top: 70px;

}

.whitear img{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

}
.skyarg{
	width: 398px;
	height: 70px;
	position: absolute;
	background: skyblue;
	top: 140px;
}
.freshar{
	width: 400px;
	height: 30px;
	position: absolute;
	background:fixed;
	margin-top: 210px;
}
.freshar p{
	font-size: 25px;
	color: red;
	font-family: segoe script;
}

.finlandm{
	width: 400px;
	height: 240px;
	position: relative;
	float: left;
	left: 30px;
	background: fixed;
	top: 30px;
	;
}
.finland{
	width: 400px;
	height: 210px;
	position: absolute;
	background: blue;
	border: 1px solid gray;
}
.fw1{
	width: 100px;
	height: 85px;
	position: absolute;
	background: white;
	left: 0px;
	top: 0px;
}
.fw2{
	width: 260px;
	height: 85px;
	position: absolute;
	background: white;
	right: 0px;
	top: 0px;
}
.fw3{
	width: 100px;
	height: 85px;
	position: absolute;
	background: white;
	left: 0px;
	bottom: 0px;
}
.fw4{
	width: 260px;
	height: 85px;
	position: absolute;
	background: white;
	right: 0px;
	bottom: 0px;
}
.ffresh{
	width: 100%;
	height: 30px;
	position: absolute;
	background: fixed;
	bottom: 0px;
}
.ffresh p{
	font-size: 25px;
	font-family: segoe script;
	color: red;
}



.indiam{
	width: 400px;
	height: 240px;
	position: relative;
	
	background: fixed;
	top: 30px;
	margin: auto;
}
.india{
	width: 100%;
	height: 210px;
	position: absolute;
	background: black;
	border: 1px	solid gray;
}
.inr{
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0px;
	background: red;
}
.inw{
	width: 100%;
	height: 70px;
	position: relative;
	top: 70px;
	background: white;
}
.inw img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.ing{
	width: 100%;
	height: 70px;
	position: absolute;
	top: 140px;
	background: green;
}
.inf{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0px;
	background: fixed;
}
.inf p{
	font-size: 25px;
	color: red;
	font-family: segoe script;
}


.afgm{
	width: 400px;
	height: 240px;
	position:relative;
	float: right;
	right: 30px;
	background: fixed;
	top:-210px ;
}
.afg{
	width: 100%;
	height: 190px;
	background: fixed;
	position: relative;
}
.afb{
	width: 133px;
	height: 210px;
	position: absolute;
	left: 0px;
	background: black;
}
.afr{
	width: 133px;
	height: 210px;
	background: red;
	position: absolute;
	left: 133px;
}
.afr img{
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}
.afgr{
	width: 133px;
	height: 210px;
	position: absolute;
	background: green;
	right: 0px;
}
.affr{
	width: 100%;
	height: 30px;
	position: absolute;
	background: fixed;
	bottom: 0px;
}
.affr p{
	font-size: 25px;
	font-family: segoe script;
	color: red;
}

.laosm{
	width: 400px;
	height: 240px;
	position: relative;
	float: left;
	left: 30px;
	top: 60px;
	background: fixed;
}
.laos{
	width: 100%;
	height: 210px;
	position: absolute;
	background: blue;
}
.lred1{
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0px;
	background: red;
}
.lblue{
	width: 100%;
	height: 90px;
	position: absolute;
	background: blue;
	top: 70px;
}
.rw{
	width: 80px;
	height: 80px;
	position: absolute;
	background: white;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.lred2{
	width: 100%;
	height: 50px;
	position: absolute;
	background: red;
	top: 90px;
}
.lllfresh{
	width: 100%;
	height: 30px;
	position: absolute;
	background: fixed;
	top: 210px;
}
.lllfresh p{
	font-size: 25px;
	font-family: segoe script;
	color: red;
}


.palaom{
	width: 400px;
	height: 240px;
	position: absolute;
	background: fixed;
	margin: auto;
	left: 	445px;
}
.palao{
	width: 100%;
	height: 210px;
	position: absolute;
	background: #00ccff ;
}
.pround{
	width: 130px;
	height: 130px;
	position: absolute;
	border-radius: 50%;
	background: yellow;
	left: 40%;
	top: 50%;
	transform: translate(-60%, -50%);

}
.plfre{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0px;
	background: fixed;
}
.plfre p{
	font-size: 25px;
	color: red;
	font-family: segoe script;
}


.taiwanm{
	width: 400px;
	height: 240px;
	position: relative;
	background: fixed;
	left: 890px;
}
.taiwan{
	width: 100%;
	height: 210px;
	position:absolute ;
	background: black;

}
.taiblue{
	width: 180px;
	height: 100px;
	position: absolute;
	background: blue;
	left: 0px;
	top: 0px;
}
.taired{
	width: 220px;
	height: 100px;
	position: absolute;
	background: red;
	right: 0px;
	top: 0px;

}
.taired2{
	width: 100%;
	height: 110px;
	position: absolute;
	background: red;
	bottom: 0px;
}
.taifresh{
	width: 100%;
	height: 30px;
	position: absolute;
	background: fixed;
	bottom: 0px;
}
.taifresh p{
	font-size: 25px;
	font-family: segoe script;
	color: red;
}

.beninm{
	width: 400px;
	height: 240px;
	position: relative;
	background: fixed;
	left: 0px;
	top: 30px;
	float: left;
}
.benin{
	width: 100%;
	height: 210px;
	position: absolute;
	background: green;

}
.ben1{
	width: 100px;
	height: 210px;
	position: absolute;
	background: red;
	top: 0px;
	left: 0px;
}
.ben2{
	width: 300px;
	height: 105px;
	position: absolute;
	background: yellow;
	top: 0px;
	right: 0px;
}
.ben3{
	width: 300px;
	height: 105px;
	position: absolute;
	background: green;
	right: 0px;
	bottom: 0px;
}
.bfres{
	width: 100%;
	height: 30px;
	position: absolute;
	background: fixed;
	bottom: 0px;
}
.bfres p{
	font-size: 25px;
	font-family: segoe script;
	color: red;
}

.swetzerhandm{
	width: 400px;
	height: 240px;
	position: relative;
	background: fixed;
	margin: auto;
	left: 446px;
	top: 30px; 


}
.swetzerhand{
	width: 100%;
	height: 210px;
	position: absolute;
	background: red;
}
.sww{
	width: 300px;
	height: 50px;
	position: absolute;
	background: white;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.sww2{
	width: 160px;
	height: 50px;
	position: absolute;
	background: white;
	left:30% ;
	top: 40%;
	 
	transform: rotate(90deg);
}
.swfre{
	width: 100%;
	height: 30px;
	position: absolute;
	background: fixed;
	bottom: 0px;
}
.swfre p{
	font-size: 25px;
	color: red;
	font-family: segoe script;
}

.panamam{
	width: 400px;
	height: 240px;
	position: relative;
	background: green;
	left: 890px;
	top: 270px;
}
.panamam{
	width: 100%;
	height: 210px;
	position: absolute;
	background: yellow;
	border:1px solid gray ;
}
.whp{
	width: 50%;
	height: 105px;
	position: absolute;
	background: white;
	left: 0px;
	top: 0px;
}
.redp{
	width: 50%;
	height: 105px;
	position: absolute;
	background: red;
	top: 0px;
	right: 0px;
}
.bluep{
	width: 50%;
	height: 105px;
	position: absolute;
	background: blue;
	left: 0px;
	bottom: 0px;
}
.whp2{
	width: 50%;
	height: 105px;
	position: absolute;
	background: white;
	right: 0px;
	bottom: 0px;
}
.frep{
	width: 100%;
	height: 30px;
	position: absolute;
	background: fixed;
	bottom: -30px;
}
.frep p{
	font-size: 25px;
	color: red;
	font-family: segoe script;
}







[]





